/*
 Bebas Neue typeface from Font Fabric.
 http://fontfabric.com/bebas-neue/
*/
@font-face {
font-family: 'BebasNeue Bold';
  src: url('font/BebasNeue Bold.otf');
}

@font-face {
font-family: 'BebasNeue Light';
  src: url('font/BebasNeue Light.otf');
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

canvas{
    display:block;
}