/*
 Bebas Neue typeface from Font Fabric.
 http://fontfabric.com/bebas-neue/
*/
@font-face {
font-family: 'BebasNeue Bold';
	src: url('BebasNeue Bold.otf');
}

@font-face {
font-family: 'BebasNeue Light';
	src: url('BebasNeue Light.otf');
}